<% @conditions.each do |c| %>
    <div class="panel condition <%= c.name%>" data-id="<%=c.id%>">
        <div class="condition-icon <%= c.name%>"></div>
        <h3><%= c.name %></h3>
        <% c.description.each do |d| %>
            <p><%= d %></p>
        <%end%>
    </div>
<%end%>
