<%= erb :header %>
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="row">
                <div class="col-md">
                    <h1><%= @details[:party_name]%></h1>
                    <p><strong><%= @details[:character_experience]%>xp</strong>
                        ( <%= @details[:total_experience] %>xp )
                    </p>
                </div>
                <div class="col-md text-right">
                    <form action="/encounter/<%= @encounter_id %>/next-turn/" method="post">
                        <input type="hidden" value="@encounter_id" name="id"/>
                        <input type="submit" class="button" value="Next Participant">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md text-right">
            <a class="button" href="/newencounter/">New Encounter</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <% @participants.each do |p| %>
                <div class="panel participant">
                    <div class="row">
                        <div class="col-8">
                            <h5><%= p.actor.name %></h5>
                        </div>
                        <div class="col">
                            <span class="hitpoints">hp: <%= p.damage%>/<%= p.hitpoints %></span>
                            <span class="initiative"><%= p.initiative%></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form action="/participant/<%= p.id %>/initiative/" method="post">
                                <input type="input" name="initiative" value="" placeholder="0">
                                <input type="submit" class="button" value="Submit">
                            </form>
                        </div>
                        <div class="col">
                            <form action="/participant/<%= p.id %>/damage/" method="post">
                                <input type="input" name="damage" value="" placeholder="0">
                                <input type="submit" class="button" value="Damage">
                            </form>
                        </div>
                        <div class="col">
                            <form action="/participant/<%= p.id %>/heal/" method="post">
                                <input type="input" name="damage" value="" placeholder="0">
                                <input type="submit" class="button" value="Heal">
                            </form>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>
        <div class="col-md">
            <div class="row">
                <div class="col-md">
                    <h3>Add a monster</h3>
                </div>
                <div class="col-md text-right">
                    <%= erb :addmonster %>
                </div>
            </div>
        <div class="row">
            <div class="col">
                <%if @mob != nil %>
                    <%= erb :monstertemplate %>
                <%end%>
            </div>
        </div>
        </div>
    </div>
</div>
<%= erb :footer %>
