<%= erb :header %>
<div class="container">
    <div class="row">
        <div class="col-md">
            <h1><%= @details[:party_name]%> <small><%= @details[:party_level]%></small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="row">
                <div class="col-md text-right margin-bottom">
                    <form action="/encounter/<%= @encounter_id %>/next-turn/" method="post">
                        <input type="hidden" value="@encounter_id" name="id"/>
                        <input type="submit" class="button" value="Next Participant">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <% @participants.each do |p| %>
                        <div class="panel participant <%= p.type %>">
                            <% if p.conditions.count > 0 %>
                                <div class="conditions">
                                    <% p.conditions.each do |c| %>
                                        <a href="/participant/<%=p.id%>/remove-condition/" data-condition="<%=c.id%>" class="condition-icon <%= c.name %>"></a>
                                    <%end%>
                                </div>
                            <%end%>
                            <div class="row">
                                <div class="col-5">
                                    <h5 class="participant_name" data-name="<%= p.actor.name %>" data-id="<%= p.actor.monster_type_id %>"></h5>
                                    <% if p.hitpoints > 0 %>
                                        <span class="hitpoints">hp:</span>
                                        <%= p.damage%>/<%= p.hitpoints %>
                                    <% end %>
                                </div>
                                <div class="col text-right">
                                    <% @current_participant = p %>
                                    <%= erb :addcondition %>
                                    <form action="/participant/<%= p.id %>/damage/" method="post">
                                        <input type="input" name="damage" value="" placeholder="Dmg">
                                        <input type="submit" class="button" value="-">
                                    </form>
                                    <form action="/participant/<%= p.id %>/heal/" method="post">
                                        <input type="input" name="damage" value="" placeholder="Heal">
                                        <input type="submit" class="button" value="+">
                                    </form>
                                    <form action="/participant/<%= p.id %>/initiative/<%= @encounter_id %>/" method="post">
                                        <input type="input" name="initiative" value="<%= p.initiative %>" placeholder="Inish">
                                        <input type="submit" class="button" value="~">
                                    </form>
                                </div>
                            </div>
                                <form name="remove-monster" class="remove-monster" action="/encounter/<%= @encounter_id %>/removemonster/" method="post">
                                    <input type="hidden" name="participant_id" value="<%=p.id%>">
                                    <input type="submit" class="button" value="X">
                                </form>
                        </div>
                    <%end%>
                    <% if @inactive.count > 0 %>
                        <hr/>
                        <% @inactive.each do |p| %>
                            <div class="panel participant inactive">
                                <div class="row">
                                    <div class="col-6">
                                        <h5><%= p.actor.name %></h5>
                                        <% if p.hitpoints > 0 %>
                                            <span class="hitpoints">hp:</span>
                                            <%= p.damage%>/<%= p.hitpoints %>
                                        <% end %>
                                    </div>
                                    <div class="col text-right">
                                        <form action="/participant/<%= p.id %>/heal/" method="post">
                                            <input type="input" name="damage" value="" placeholder="Heal">
                                            <input type="submit" class="button" value="+">
                                        </form>
                                        <form action="/participant/<%= p.id %>/initiative/" method="post">
                                            <input type="input" name="initiative" value="<%= p.initiative %>" placeholder="Inish" disabled>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    <%end%>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="panel">
                <div class="row margin-bottom">
                    <div class="col-md">
                        <h4>Encounter:</h4>
                        <div class="row">
                            <div class="col-md-7">
                                Per Character:
                            </div>
                            <div class="col-md">
                                 <strong><%= @details[:character_experience]%>xp</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                Total:
                            </div>
                            <div class="col-md">
                                <%= @details[:total_experience] %>xp
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                Adjusted:
                            </div>
                            <div class="col-md">
                                 <%= @details[:adjusted_experience] %>xp
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-7">
                                easy:
                            </div>
                            <div class="col-md">
                                <%= @details[:easy] %>xp
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                medium:
                            </div>
                            <div class="col-md">
                                <%= @details[:medium] %>xp
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                hard:
                            </div>
                            <div class="col-md">
                                <%= @details[:hard] %>xp
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                deadly:
                            </div>
                            <div class="col-md">
                                <%= @details[:deadly] %>xp
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md text-right">
                        <a class="button" href="/newencounter/">New Encounter</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <h3>Add a monster</h3>
                </div>
            </div>
            <div class=margin-bottom>
                <%= erb :addmonster %>
            </div>
            <div class="row">
                <div class="col">
                    <%if @mob != nil %>
                        <div id="monster_id" data-id="<%= @mob.id %>"></div>
                        <div id="monster_pane"></div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Conditions">
    <%= erb :conditions %>
</div>
<%= erb :footer %>
