<%= erb :header %>
<div class="container">
    <div class="row">
        <div class="col-md">
            <h1>Make an encounter?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <form>
                <div class="row margin-bottom">
                    <div class="col-sm">
                        <select name="difficulty">
                            <option value="easy">Easy</option>
                            <option selected value="medium">Medium</option>
                            <option value="hard">Hard</option>
                            <option value="deadly">Deadly</option>
                        </select>
                    </div>
                </div>
                <div class="row margin-bottom">
                    <div class="col-sm">
                        <select name="level">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                </div>
                <div class="row margin-bottom">
                    <div class="col-sm">
                        <select name="character_count">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option selected value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                </div>
                <div class="row margin-bottom">
                    <div class="col-sm">
                        <select name="min_cr">
                            <option value="">Select a Min CR</option>
                            <% @challenge.each do |c| %>
                                <option value="<%= c.id %>" <%= 'selected' if c.id.to_i == params[:min_cr].to_i %>>
                                cr: <%= c.cr %> => <%= c.xp %>xp
                                </option>
                            <%end%>
                        </select>
                    </div>
                </div>
                <div class="row margin-bottom">
                    <div class="col-sm">
                        <select name="max_cr">
                            <option value="">Select a Max CR</option>
                            <% @challenge.each do |c| %>
                                <option value="<%= c.id %>" <%= 'selected' if c.id.to_i == params[:max_cr].to_i %>>
                                cr: <%= c.cr %> => <%= c.xp %>xp
                                </option>
                            <%end%>
                        </select>
                    </div>
                </div>
                <div class="row margin-bottom">
                    <div class="col-sm">
                        <select name="type_id">
                            <option value="">Select a Type</option>
                            <% @types.each do |t| %>
                                <option value="<%= t.id %>" <%= 'selected' if t.id.to_i == params[:type_id].to_i %>>
                                <%= t.name %>
                                </option>
                            <%end%>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <input type="input" name="term" value="<%=params[:term]%>" placeholder="Must Include?">
                    </div>
                    <div class="col">
                        <input type="submit" class="button" value="Create Encounter"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md">
            <%if @mobs != nil %>
                <div class="panel">
                    <div class="row">
                        <div class="col-md">
                            <% @mobs.each do |m| %>
                                <div class="row">
                                    <div class="col-md-8">
                                        <%= m.name %>
                                    </div>
                                    <div class="col-md">
                                        xp: <%= m.xp %>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                        <div class="col-md">
                            <div class="row">
                                <div class="col-md-7">
                                    easy:
                                </div>
                                <div class="col-md">
                                    <%= @difficulty.easy * @count %>xp
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    medium:
                                </div>
                                <div class="col-md">
                                    <%= @difficulty.medium * @count %>xp
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    hard:
                                </div>
                                <div class="col-md">
                                    <%= @difficulty.hard * @count %>xp
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    deadly:
                                </div>
                                <div class="col-md">
                                    <%= @difficulty.deadly * @count %>xp
                                </div>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>
<%= erb :footer %>
