<div id="Details" class="row">
    <div class="col-md">
        <% mob = @mob  %>
        <div class="panel monster-template">
            <h3><%= mob.name %></h3>
            <p class="italic">
                <%= mob.size %> <%= mob.type %>, <%= mob.alignment %>
            </p>
            <hr />
            <p><strong>Armor Class</strong> <%= mob.ac %></p>
            <p><strong>Hit Points</strong> <%= mob.hp %></p>
            <p><strong>Speed:</strong> <%= mob.speed %></p>
            <hr/>
            <div class="row statblock">
                <div class="col">
                    <span class="stat">Str</span>
                    <%= mob.str %>
                </div>
                <div class="col">
                    <span class="stat">Dex</span>
                    <%= mob.dex %>
                </div>
                <div class="col">
                    <span class="stat">Con</span>
                    <%= mob.con %>
                </div>
                <div class="col">
                    <span class="stat">Int</span>
                    <%= mob.int %>
                </div>
                <div class="col">
                    <span class="stat">Wis</span>
                    <%= mob.wis %>
                </div>
                <div class="col">
                    <span class="stat">Cha</span>
                    <%= mob.cha %>
                </div>
            </div>
            <hr/>
            <%if mob[:save] != '' %><p><strong>Saves</strong> <%= mob[:save] %></p><hr/><%end%>
            <p><strong>Skills</strong> <%= mob.skill %></p>
            <hr/>
            <%if mob.immune != '' %><p><strong>Immunities</strong> <%= mob.immune %></p><%end%>
            <%if mob.conditionimmune != '' %><p><strong>Condition Immunities</strong> <%= mob.conditionimmune %></p><%end%>
            <%if mob.vulnerable != '' %><p><strong>Vulnerabilities</strong> <%= mob.vulnerable %></p><%end%>
            <%if mob.senses != '' %><p><strong>Senses</strong> <%= mob.senses %></p><%end%>
            <%if mob.passive != '' %><p><strong>Passive Perception</strong> <%= mob.passive %></p><%end%>
            <%if mob.languages != '' %><p><strong>Languages</strong> <%= mob.languages %></p><%end%>
            <p><strong>Challange Rating</strong> <%= mob.cr %> ( <%= @xp %>xp )</p>
            <%if mob.resist != '' %><p><strong>Resistances</strong> <%= mob.resist %></p><%end%>
            <hr/>
            <% if mob.traits.count > 0 %>
                <h4>Traits</h4>
                <% mob.traits.each do |a| %>
                    <h5><%= a.name %></h5>
                    <% a.text.each do |t| %>
                        <p><%= t %></p>
                    <% end %>
                <% end %>
                <% if mob.spells.count > 0 %>
                    <h6>Spells</h6>
                    <select class="spell-list">
                        <option value="">Choose a Spell</option>
                        <% mob.spells.each do |s| %>
                            <option value="<%=s.id%>"><p><%= s.name %></p></option>
                        <%end%>
                    </select>
                    <div class="spell-container"></div>
                <%end%>
                <hr/>
            <%end%>
            <% if mob.legendaries.count > 0 %>
                <h4>Legendary Actions</h4>
                <% mob.legendaries.each do |a| %>
                    <h5><%= a.name %></h5>
                    <% a.text.each do |t| %>
                        <p><%= t %></p>
                    <% end %>
                <% end %>
                <hr/>
            <% end %>
            <h4>Actions</h4>
            <% mob.actions.each do |a| %>
                <h5><%= a.name %></h5>
                <% a.text.each do |t| %>
                    <p><%= t %></p>
                <% end %>
                <p><strong><%= a.attack %></strong></p>
            <% end %>
        </div>
    </div>
</div>
