<%= erb :header %>
<div class="container">
    <div class="row">
        <div class="col-md">
            <h1>Wow. Such party. Many character</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <% @parties.each do |p| %>
                <div class="panel">
                    <div class="row">
                        <div class="col-md">
                            <h3><%= p.name %> <small><%= p.level %></small></h3>
                            <% p.characters.each do |c| %>
                                <h6><%= c.name %> the <%= c.race %></h6>
                            <%end%>
                        </div>
                        <div class="col-md-4 text-right">
                            <a href="/party/<%=p.id%>/" class="button">Go to Party Page</a>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>
        <div class="col-md">
        </div>
    </div>
</div>
<%= erb :footer %>
