<%= erb :header %>
<div class="container">
    <div class="row">
        <div class="col-md">
            <h1><%= @party.name %> <small><%= @party.level %></small></h1>
        </div>
        <div class="col-md text-right">
            <a href=/parties/ class="button">Parties</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <% @members.each do |m| %>
                <div class="panel">
                    <div class="row">
                        <div class="col-md">
                            <h3>
                                <%= m.name %><small> the <%= m.race %></small>
                            </h3>
                        </div>
                        <div class="col-md text-right">
                            <a href="/party/<%=@party.id%>/remove-character/"
                                class="remove-character button"
                                data-participant_id="<%=m.participant_id%>">
                                Remove
                            </a>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>
        <div class="col-md">
            <a href="add-member/" class="button margin-bottom">Add New Member</a>
            <a href="new-character/" class="button">Create New Character</a>
        </div>
        <div class="col-md">
            <form action="/party/<%=@party.id%>/level-up/" method="post" class="margin-bottom">
                <input class="button" type='submit' value="Level Up!"/>
            </form>
            <form action="/party/<%=@party.id%>/level-down/" method="post">
                <input class="button" type='submit' value="Level Down"/>
            </form>
        </div>
    </div>
</div>
<%= erb :footer %>
